body {
    font-family: "Merriweather sans", sans-serif;
    margin: 0;
    color:antiquewhite;
    background: #11121a;
}
* {
    box-sizing: border-box;
}

header {
   background: #1c1c24;
   height: 70px; 
   display:flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 25px;
}

.header-container img {
    border-radius: 50%;
    height: 50px;
    align-items: center;
    margin-left: 10px;
   
}

.header-container {
    
    display: flex;
    max-width: 1250px;
    width: 100%;
    align-items: center;
    padding: 0 25px;
}

.header-container span {
    justify-content: center;
    align-items: center;
    padding-left: 45px;
    font-size: 1.3em;
    font-weight: 500;
}



.search-container {
    display: flex;
    background-color: #1c1c24;
    height: 60px;
    max-width: 1250px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #1c1c24;
    overflow: hidden;
    
}

.input-container {
    flex-grow: 1;
    display:flex;
    align-items: center;
    
}

.input-container input {
    flex-grow: 1;
    background-color: transparent;
    outline: none;
    border: none;
    color: antiquewhite;
    font-size: 20px;
    margin-left: 20px;
}
.input-container i {
    font-size: 20px;
    margin-left: 25px;
}

.button-container {
    background-color: #2f4550;
    width: 100px;
    display:flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button-container:hover {
    background: #586f7c;
   }

   .jobs-list {
       background-color: #11121a;
       max-width: 1250px;
       width: 100%;
       height: 100vh;
       margin: 0 auto;
       display:flex;
       flex-direction: column;
       padding:0 25px;
   }
   .jobs-list h1 {
       margin-left: 25px;
       font-size: 1.5em;
       margin-bottom: 45px;
    }

    .jobs-container {
        display:grid;
        gap: 40px;
        flex-grow: 1;
        grid-template-columns: repeat(3, 1fr);
        
        background: #11121a;
    }

    .job-tile {
        background: #586f7c;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: antiquewhite;
        padding: 30px;
        transition: transform 0.2s ease;
    }

    .job-tile:hover {
        transform: scale(1.05);
    }

    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .top img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }

    .role-name {
       padding: 20px 0px; 
    }

    .role-name span {
        font-size: 22px;
    }

    .description{
        height: 105px;
        overflow: hidden;
        font-size: 18px;
        flex-grow: 1;
    }

    .buttons {
        
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        height: 45px;
    }

    .button {
        background-color: #2f4550;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 1rem;
        padding: 5px 5px;
    }

    .button-apply-now {
        background-color: #2f4550;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 1rem;
        padding: 5px 5px
    }

    .button-apply-now:hover {
        background-color: #11121a;
    }

    .button:hover {
        background-color: #11121a;
    }

    @media screen and (max-width: 930px) {
        .jobs-container{
           grid-template-columns: repeat(2, 1fr); 
        }
    }
    @media screen and (max-width: 500px) {
        .jobs-container{
           grid-template-columns: repeat(1, 1fr); 
        }
    }

   

    
